@import "components/header";
@import "components/panel-link";
@import "components/hero";
@import "components/subnav";
@import "components/variables";


.block {
  display: block;
}

.dropdown-menu {
  box-shadow: 0 2px 0 rgba(211,217,217,0.5);
  border: none;
  padding: 0;
  border-radius: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  width: 100% !Important;
  margin: 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: $dark-11;
  border: none;
  border-radius: none;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
  li {
   a {
    padding: 12px 20px !important;
    color: $dark-1 !important;
    background-color: $dark-11 !important;
    font-weight: normal;
    transition: background-color 250ms linear;
    &:hover {
      background-color: $dark-10 !Important;
    }
    &:active, &:focus {
      outline: none;
    }
   }
  }
}

.dropdown {
  display: block;
  padding: 0;
}

.dropdown-toggle.btn.btn-link {
  height: 50px;
  display: flex;
  width: 100%;
  text-align: left;
  float: none;
  padding: 10px 15px 10px 0;
  background-color: $neutral-11;
  position: relative;
  border-bottom: 1px solid $dark-10;
  .product-version {
    position: relative;
    right: 20px;
    &:after {
      display: block;
      content: "";
      height: 50px;
      width: 1px;
      background-color: #EAEDEF;
      top: -15px;
      position: absolute;
      left: 75px;
    }
  }
  .dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
  span {
    flex: 1;
    color: $dark-1;
    display: none;
  }
  span:last-child {
    text-align: right;
  }
  .product-release-version {
    display: flex;
    align-items: center;
    color: $dark-1;
    width: 100%;
    h3 {
      display: flex;
      width: 100%;
      span {
        display: block;
      }
    }
    svg {
      margin-left: 7px;
    }
    span {
      text-align: right;
    }
  }
}

.product-docs {
  padding-left: 375px;
  padding-top: 64px;
  .page-header {
    padding: 25px;
    border-bottom: 1px solid $dark-10;
    margin: 0;
  }
  .docs-content {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .product-docs {
    padding-left: 0;
  }
}

.main-nav {
  margin-right: 65px;
}

@media (max-width: 700px) {
  .main-nav {
    display: none;
  }
}

.search {
  height: 64px;
  width: 64px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  svg {
    margin: 0 auto;
    path {
      fill: $dark-11;
    }
  }
}

.docs-search {
  box-shadow: 0 2px 2px rgba(0,0,0,.05);
  background-color: white;
  border-bottom: 1px solid $dark-10;
  height: 50px;
  display: flex;
  padding: 0 15px;
  align-items: center;
  .docs-search-input {
    border-radius: 1000px;
    border: 1px solid $dark-10;
    width: 100%;
    padding: 0 15px;
    height: 35px;
    position: relative;
    &:focus {
      outline: none;
      border: 1px solid $brand-10;
    }
    &:after {
      content: "a";
      color: red;
      height: 10px;
      width: 10px;
      background: red;
      display: block;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.docs-software-footer {
  box-shadow: 0 -2px 2px rgba(0,0,0,.05);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid $dark-10;
  height: 125px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 14px;
  ul {
    margin-bottom: 0;
  }
}

.toc-grid {
  border-bottom: 1px solid $dark-10;
}

.grid-item {
  border-right: 1px solid $dark-10;
  border-top: 1px solid $dark-10;
  text-align: center;
  padding: 25px 15px;
  h3 {
    margin: 0;
    color: $dark-1;
    line-height: 1;
  }
  p {
    margin: 0;
    color: $dark-4;
    font-size: 14px;
  }
}

.docs-search {
  position: relative;
}

.search-results {
  position: absolute;
  top: 100%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,.4);
  left: 15px;
}

.search-results-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-result-item {
  padding: 15px;
  border-bottom: 1px solid $dark-10;
  &:hover {
    transition: background-color 250ms linear;
    background-color: $dark-11;
    text-decoration: none;
    cursor: pointer;
  }
  &:last-child {
    border-bottom: none;
  }
}

.search-result-title {
  margin: 0;
  color: $accent-3;
}

.search-result-description {
  margin: 0;
}

