@import "variables";

.subnav {
  padding-top: 15px;
  position: fixed;
  z-index: 10;
  top: 64px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 17.375em;
  width: 375px;
  background: $dark-11;
  color: $dark-1;
  border-right: 1px solid $dark-10;
  ul.product-docs-toc {
    list-style: none;
    padding: 0;
    height: calc(100%);
    margin: 0;
    overflow: auto;
    li {
      font-size: 14px;
      color: $dark-4;
      padding: 10px 25px;
      transition: background-color 150ms ease-in;
      &:hover {
        background-color: rgba(0,0,0,.05);
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  .subnav {
    display: none;
  }
}
